<% provide :title, t("help.title") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield "title" %> | <%= t "sample_app_title" %></title>
</head>
<body>
  <h1><%= t "help.title" %></h1>
  <p><%= auto_link(t("help.content")) %></p>
</body>
</html>
