<h1><%= t "sample_app_title" %></h1>

<p>
  <%= t "mailer.activation.greeting", name: @user.name %>
</p>

<p>
  <%= t "mailer.activation.content" %>
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
  email: @user.email) %>
